h1{ color: rgb(0, 0, 0);}
/* Comments in CSS can also be
inside <style> elements in HTML*/ 
.name{font-family: 'Courier New', Courier, monospace;
    color: #000000;
}
.speech{font-family: 'Courier New', Courier, monospace;
    color: #000000;
}
.direction{font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(135, 227, 250);

}
a:hover{
    background-color: gold;
    color: aquamarine;
}
.nora{
    color: chartreuse;
}
.helmer{
        color: hotpink;
}

