h1{ color: rgb(18, 19, 20);
text-shadow: 2px 2px 2px rgb(0, 255, 98);
}
/* Comments in CSS can also be
inside <style> elements in HTML*/ 
.name{font-family: 'Courier New', Courier, monospace;
    color: #000000;
}
.speech{font-family: 'Courier New', Courier, monospace;
    color: #000000;
}
.direction{font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(135, 227, 250);

}
a:hover{
    background-color: gold;
    color: rgb(41, 30, 239);
}
.nora:hover{
    color: chartreuse;
    text-shadow: 2px 2px 2px rgb(0, 255, 98)
}
.helmer:hover{
        color: hotpink;
        text-shadow: 2px 2px 2px rgb(0, 255, 98)
}
table{border: solid 6px;}
td,th{border: solid 3px;
text-align: left;
padding: 10px;}
tr:nth-last-child(even){
background-color: blanchedalmond;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
